{% extends 'base.html' %}
{% block content %}

<main class="main-loginregister flex">
    <form class="loginregister-form flow-content" action="{% url 'register' %}" method="POST">
        <h1>register</h1>
        {% for field in form %}
        <div class="animated-input-box">
            {{field}}
            <label class="animated-label">{{field.label}}</label>
            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <input class="btn" type="submit" value="submit">
        {% csrf_token %}
    </form>
</main>

{% endblock content %}